<p><h1 align="center"> Showing selected article </h1></p>
<h3 align="center"> Title: <%= @article.title %></h3>

<div class="row justify-content-md-center">
<div class="card bg-light w-75">
    <h4 class=" card-header titles"><strong>Description: </strong></h4>

    <div class="card-body">
        <%= simple_format(@article.description)%>
        <div class="article-actions">
        <%if logged_in? && (current_user == @article.user || current_user.admin?)%>
        <%= link_to 'Edit', edit_article_path(@article),
         class:"btn btn-sm btn-primary"%>
        <%= link_to 'Delete', article_path(@article), method: :delete, 
            data:{confirm:"Are you sure you want to delete this article?"},
            class:"btn  btn-sm btn-danger"%>
        <%end%>
        <%= link_to 'view all articles', articles_path, class:"btn btn-sm btn-success"%>
        </div>
    </div>
</div>
</div>